.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .scrollcomment {
    position: relative;
    height: 25vh;
    overflow-y: scroll;
   
  }

  .item_parent {
    width: calc(50% - 15px);
    margin-top: 10px;    
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
  }

    .item_child {
        width: calc(50% - 25px);
        margin-top: 5px;
        margin-left: 50px;
        color:rgb(255, 115, 0);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: normal;
        font-style: italic;
        
    }